*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    background-color: #ccc;
}
header{
    width: 100%;
    background-color: cadetblue;
    
    .container{
         padding: 1.2rem 2rem;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .logo{
            width: 120px;
            aspect-ratio: 1;

            img{
                width: 120%;
                height: 100%;
            }
         }
    }
}