* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff url('images/bg1.jpg') no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('images/loader\(8\).gif') no-repeat center;
    z-index: 1;
}

.animatedWallpaper {
    width: 100%;
    background-image: url('images/stars.png');
    position: absolute;
    height: 100%;
    animation: starsMove 30s linear infinite forwards;
    -webkit-animation: starsMove 30s linear infinite forwards;
}

@keyframes starsMove {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 10% 100%;
    }
}

.container {
    width: 55rem;
    height: 50rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 2rem .2rem white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    & h1 {
        color: white;
        font-size: 4rem;
    }

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            color: rgb(229, 25, 25);
            padding-bottom: 4rem;
            font-size: 1.7rem;
            display: none;
        }

        & .input {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            & .inputBox {
                position: relative;
                height: 6rem;
                width: 40rem;
                margin-bottom: 6rem;

                & input {
                    height: 100%;
                    width: 100%;
                    border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    -moz-border-radius: 1rem;
                    -ms-border-radius: 1rem;
                    -o-border-radius: 1rem;
                    outline: none;
                    padding: 0 2rem;
                    font-size: 1.7rem;
                    color: white;
                    background-color: transparent;
                    border: 2px solid white;

                    &~lord-icon {
                        position: absolute;
                        right: 1rem;
                        color: white;
                        top: 3rem;
                        width: 35px;
                        display: none;
                        height: 40px;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transition: all .5s linear;
                        -webkit-transition: all .5s linear;
                        -moz-transition: all .5s linear;
                        -ms-transition: all .5s linear;
                        -o-transition: all .5s linear;
                    }

                    &:focus {
                        border-color: rgb(0, 225, 255);
                    }

                    &:focus+label {
                        left: .5rem;
                        top: -1rem;
                    }

                    &:focus~lord-icon {
                        display: inline;
                        font-size: 2.3rem;
                        color: rgb(255, 255, 255);
                    }
                }

                & label {
                    position: absolute;
                    left: 2.1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    color: white;
                    font-size: 1.6rem;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transition: all .4s linear;
                    -webkit-transition: all .4s linear;
                    -moz-transition: all .4s linear;
                    -ms-transition: all .4s linear;
                    -o-transition: all .4s linear;
                }
            }
        }

        .submit button {
            padding: 1.5rem 3rem;
            font-size: 2.1rem;
            color: white;
            border: 2px solid white;
            background-color: transparent;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 2rem .05rem white inset, 0 0 2rem .05rem white;
            }
        }
    }
}

@media (width <=600px) {
    .container {
        width: 100%;
        margin: 0 1rem;
    }
}