/* ?Basics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    list-style: none;
}

button {
    color: rgb(245, 222, 179);
    background-color: rgba(95, 158, 160, 0.502);
    padding: 10px 15px;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

    &:hover {
        background-color: rgba(95, 158, 160, 0.702);
    }
}

h1 {
    font-size: 33px;
}

.container {
    max-width: 600px;
    min-width: 350px;
    margin: 0 10px;
    height: auto;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.121);
}

body .flex:nth-child(2) {
    flex-direction: column;
    justify-content: space-between;
}

p {
    padding: 20px 0;
    text-align: center;
    line-height: 1.5;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

img {
    width: 90%;
    height: 500px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}


html {
    font-size: 62.5%;
}

body {
    background-color: #243549;
    height: 100vh;
    width: 100%;
    background: #fff url('images/bg1.jpg') no-repeat fixed center;
}

/* ?Themes */
:root {
    --heading-para-list-a-label-color: white;
    --li-p-a-size: 1.7rem;

}

::selection {
    color: rgb(223, 196, 196);
}

/* ?Reusable Code  */

.container {
    padding: 2rem 0;
    max-width: 50rem;
    min-width: 33rem;
    margin: 0 auto;
    gap: 2.5rem;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}

li,
a,
p {
    font-size: var(--li-p-a-size);
    padding: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
a,
li {
    color: var(--heading-para-list-a-label-color);
    padding: .5rem;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


button {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.919);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    color: rgb(39, 31, 31);
    font-weight: 600;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    &:hover {
        background-color: transparent;
        color: white;
    }
}

input {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;
    border: 2px solid white;
    width: 60rem;
    height: 7rem;
    padding: 0 2rem;
    font-size: 1.7rem;

    &::placeholder {
        color: white;
        font-size: 1.7rem;
    }

    &:focus {
        border-color: aqua;
    }
}