html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: #fff url("images/loginWallpaper.jpg") no-repeat fixed center;
  background-size: cover;


  .wrapperForm {
    position: relative;
    width: 45rem;
    min-width: 32rem;
    margin: 1rem;
    height: 50rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 1.5rem 0 white;

    & form:first-child {
      position: absolute;
      left: 0;
      top: 0;
    }

    & form:last-child {
      position: absolute;
      left: 100%;
      /* top: 100%; */
      top: 0;
    }

    .login {
      padding: 1rem 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;

      h1 {
        font-size: 4rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .input {
        padding: 20px 0;
        width: 80%;

        .input_group {
          position: relative;
          height: 5rem;
          width: 100%;

          input:-webkit-autofill {
            background-color: transparent !important;
            color: white !important;
            /* Set the text color to white */
            transition: background-color 5000s ease-in-out 0s,
              color 5000s ease-in-out 0s;
          }

          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            background-color: transparent !important;
            color: white !important;
            /* Ensure the text color stays white on hover, focus, and active states */
          }

          input {
            width: 100%;
            height: 100%;
            border: hidden;
            padding: 0 4rem 0 1rem;
            font-size: 1.5rem;
            font-weight: 500;
            border-radius: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transition: 0.5s;
            border-bottom: 2px solid white;

            &:focus+label,
            &:valid+label {
              top: 0;
            }

            &:focus {
              border-bottom: 2px solid wheat;
            }
          }

          label {
            position: absolute;
            left: 1rem;
            top: 50%;
            font-size: 1.5rem;
            transition: 0.5s;
            transform: translateY(-50%);
          }

          ion-icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            color: white;
          }
        }
      }

      .remember {
        width: 80%;
        padding: 0.5rem 0 1rem 0;

        & p {
          font-size: 1.5rem;
        }

        a {
          font-size: 1.5rem;
        }
      }

      .button {
        width: 80%;
        padding: 1rem 0;

        button {
          width: 100%;
          padding: 1rem 0;
          border-radius: 3rem;
          font-size: 2rem;
        }
      }

      .alreadyAccount {
        width: 80%;

        p {
          font-size: 1.5rem;
          text-align: center;

          a {
            color: wheat;
            font-style: italic;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (width <=400px) {
  html {
    font-size: 57%;
  }

  :is(body .wrapperForm .login) :is(.input, .remember, .button) {
    width: 90%;
  }
}