* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    transform: .5s  linear;
    -webkit-transform: .5s  linear;
    -moz-transform: .5s  linear;
    -ms-transform: .5s  linear;
    -o-transform: .5s  linear;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    background: #fff url('images/signIn background.jpeg') no-repeat scroll center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff url('images/loader(8).gif') no-repeat fixed center;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
    height: 550px;
    /* background-color: #fff; */
    background: rgba(255, 255, 255, 0.217);
    padding: 2rem 0;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    & h1 {
        color: white;
        font-size: 4rem;
        position: relative;
        display: flex;
        justify-content: center;
        transition: all .4s linear;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s linear;
        -ms-transition: all .4s linear;
        -o-transition: all .4s linear;
    }

}

& .bar {
    width: 5rem;
    height: .7rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: #fff;
    -o-border-radius: 5px;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}

& .input {
    width: 70%;
    padding-top: 5rem;

    & #inputParentBox {
        transition: transform .3s linear;
        -webkit-transition: transform .3s linear;
        -moz-transition: transform .3s linear;
        -ms-transition: transform .3s linear;
        -o-transition: transform .3s linear;

    }

    & .input-group {
        width: 100%;
        position: relative;
        padding-bottom: 3rem;

        & input {
            left: 0;
            outline: none;
            width: 100%;
            color: rgb(255, 255, 255);
            font-size: 1.6rem;
            height: 6rem;
            border-radius: .8rem;
            padding: 0 0 0 2rem;
            transition: transform .3s linear;
            -webkit-transition: transform .3s linear;
            -moz-transition: transform .3s linear;
            -ms-transition: transform .3s linear;
            -o-transition: transform .3s linear;
            border: 2px solid white;
            background-color: transparent;
            -webkit-border-radius: .8rem;
            -moz-border-radius: .8rem;
            -ms-border-radius: .8rem;
            -o-border-radius: .8rem;
            box-shadow: 0 0 1rem 0px white;


            &+label {
                position: absolute;
                top: 32%;
                /*background-color: white;
                    */
                padding: 0 .7rem;
                transform: translateY(-50%);
                left: 1.3rem;
                font-size: 1.5rem;
                color: cyan;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transition: all .3s linear;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
            }

            &~ion-icon {
                position: absolute;
                right: 1rem;
                color: white;
                top: 32%;
                font-size: 1.9rem;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transition: all .5s linear;
                -webkit-transition: all .5s linear;
                -moz-transition: all .5s linear;
                -ms-transition: all .5s linear;
                -o-transition: all .5s linear;
            }

            &:focus+label {
                position: absolute;
                top: -1rem;
                transform: translateY(-50%);
                left: .5rem;
                font-size: 1.3rem;
                color: rgb(255, 255, 255);
                font-weight: 500;
                z-index: 1;
                overflow: hidden;
            }

            &:focus {
                border-color: rgb(198, 5, 159);
                overflow: hidden;
            }

            &:focus~ion-icon {
                font-size: 2.3rem;
                color: rgb(255, 255, 255);
            }
        }
    }
}

& .buttons {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    & button {
        color: #fff;
        background-color: rgb(53, 174, 174);
        padding: 1rem 3.5rem;
        font-size: 1.8rem;
        border: hidden;
        border-radius: 10px;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    & .disabled {
        background-color: rgb(209, 191, 191);
        color: white;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
    }
}
@media (width <= 500px) {
    .input{
        width: 80%;
    }
}
@media (width <= 450px) {
    .container{
      width: 100%;
      & h1{
        font-size: 3rem;
      }
      & .input{
        width: 90%;
      }
      & .buttons{
        gap: 2rem;
      }
    }
}