/*?Importing  Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ?Importing Urbanist */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ?Importing Jost  */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ?Basics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    /* font-family: 'Urbanist' , sans-serif; */
    /* font-family: 'Jost' , sans-serif; */
    text-decoration: none;
    letter-spacing: 1px;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #243549;
    width: 100%;
    color: white;
}

/* ?Themes */
:root {
    --li-p-a-size: 1.7rem;
}

::selection {
    color: rgb(223, 196, 196);
    padding: 0.5rem;
    background-color: rgb(223, 196, 196);
}

/* ?Reusable Code  */

.container {
    padding: 2rem 5rem;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}

li,
a,
button,
label,
p {
    font-size: var(--li-p-a-size);
    color: white;
}

.flex {
    display: flex;
}

.acc{
    align-content: center;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcfs {
    justify-content: flex-start;
}

.jcfe {
    justify-content: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.aisb {
    align-items: space-between;
}

.aisa {
    align-items: space-around;
}

.fdc {
    flex-direction: column;
}

.gap {
    gap: 2rem;
}


button {
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    border: 2px solid white;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

input {
    background-color: transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;
    border: 2px solid white;
    color: white;
    padding: 0 1.5rem;
    font-size: 1.7rem;

    &::placeholder {
        color: white;
        font-size: var(--li-p-a-size);
    }

    &:focus {
        border-color: aqua;
    }
}