
html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
}

.container{
    margin: 0 auto;
    max-width: 144rem;
    padding: 2rem 5rem;
}


header{
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.704);

    nav.container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        a.logo{
             display: block;
             width: 25rem;
             height: 5.6rem;

             img{
                width: 100%;
                height: 100%;
             }
        }
        ol.navigation{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            a{
                color: white;
                font-size: 1.6rem;
                letter-spacing: 1px;
            }
        }
    }
}
