html {
    font-size: 62.5%;
}

body {
    background: #fff url('images/joker.jpg') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starsDiv {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('images/stars.png');
    animation: starsMove 20s linear infinite forwards;
    -webkit-animation: starsMove 20s linear infinite forwards;
}

@keyframes starsMove {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 10% 100%;
    }
}

.container {
    width: clamp(33rem, 50%, 50rem);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    padding: 3rem 2rem;
    border-radius: 20px;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 5px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & h1 {
        text-align: center;
        color: white;
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 500;
    }

    & .input {
        width:100%;
        padding: 2rem 0;

        & input {
            background-color: transparent;
            width: 100%;
            height: 50px;
            padding: 0 10px;
            border-radius: 8px;
            color: rgb(255, 255, 255);
            font-size: 17px;
            outline: none;
            transition: all .3s ease;
            letter-spacing: 1px;
            border: hidden;
            border: 2px solid white;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;

            &::placeholder {
                color: white;
            }

            &:focus {
                border-color: #ff7489;
            }
        }
    }

    & .list {
        width:100%;
        border-left: 3px solid white;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.043);

        & p:nth-child(3) {
            color: white;
        }

        & p {
            color: rgb(198, 178, 65);
            font-size: 18px;
            letter-spacing: 1px;
            padding: 20px;
        }
    }
}

@media (width <=800px) {
    .container {
        h1{
            font-size: 2.7rem;
        }
        .list p{
            font-size: 1.7rem;
        }
    }
    
}
@media (width <=500px) {
    .container {
        h1{
            font-size: 2.7rem;
        }
        .list p{
            font-size: 1.6rem;
        }
    }
    
}