html{
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(23, 23, 23);
}

.container {
    width: clamp(32.0rem,50%,70.0rem);
    height: 40.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2.5rem .3rem white;
    gap: 2.0rem;
    background-color: rgb(39, 34, 34);
    border: .2rem dotted yellow;
    border-radius: 1.0rem;
    -webkit-border-radius: 1.0rem;
    -moz-border-radius: 1.0rem;
    -ms-border-radius: 1.0rem;
    -o-border-radius: 1.0rem;
        
         h1 {
            padding: 1.0rem 1.5rem;
            color: red;
            font-size: 3.5rem;
            font-weight: 500;
            text-shadow: 0 0 .3rem white;
        }

    & .button {
        padding: 1.0rem 1.5rem;

        & button {
            padding: 1.0rem 2.0rem;
            background-color: brown;
            border: .2rem solid brown;
            font-size: 2.0rem;
            color: white;
            margin: 1.0rem 2.0rem;
            cursor: pointer;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            border-radius: 1.0rem;
            -webkit-border-radius: 1.0rem;
            -moz-border-radius: 1.0rem;
            -ms-border-radius: 1.0rem;
            -o-border-radius: 1.0rem;

            &:hover {
                color: white;
                border: .2rem solid white;
                background-color: transparent;
            }
        }
    }

    & .resultForDriving {
        padding: 1.0rem 1.5rem;

        & p {
            color: white;
            font-size: 1.6rem;
        }
    }
}

@media (width < 50.0rem) {
    .container .heading h1{
        font-size: 3.0rem;
    }
}