* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

body {
    background: #ccc no-repeat 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

html {
    font-size: 62.5%;
}

.heading {
    padding-bottom: 7.0rem;

    & h1 {
        color: white;
        letter-spacing: .2rem;
        font-size: 3.6rem;
        font-weight: 500;
        text-align: center;
    }
}

.container {
    width: 45.0rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.0rem;
    border-radius: 2.0rem;
    -webkit-border-radius: 2.0rem;
    -moz-border-radius: 2.0rem;
    -ms-border-radius: 2.0rem;
    -o-border-radius: 2.0rem;

    & .button {
        display: flex;
        justify-content: center;

        & button {
            padding: 1.0rem 1.5rem;
            cursor: pointer;
            font-size: 1.6rem;
            letter-spacing: .1rem;
            transition: all .3s linear;
            margin: 0 2.0rem;
            color: white;
            border: none;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
        }

    }

    & .buttonCopy {
        margin: 3.0rem 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        & button {
            color: white;
            font-size: 1.8rem;
            letter-spacing: .1rem;
            padding: 1.0rem 1.5rem;
            border: .2rem solid white;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1.0rem;
            -webkit-border-radius: 1.0rem;
            -moz-border-radius: 1.0rem;
            -ms-border-radius: 1.0rem;
            -o-border-radius: 1.0rem;
        }

        select {
            padding: .8rem 1rem;
            background-color: transparent;
            border: 2px solid white;
            outline: none;
            color: white;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;

            option{
                background-color: rgb(100, 99, 99);
                color: white;
            }
        }
    }

    & .box {
        width: 80%;
        padding: 2.5rem .5rem;
        background-color: rgba(76, 69, 69, 0.116);
        border-left: .2rem solid white;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;

        & p {
            color: white;
            text-align: center;
            font-size: 1.7rem;
            letter-spacing: .1rem;
            line-height: 1.4;
            cursor: pointer;
        }
    }
}

@media (width < 540px) {
    html {
        font-size: 55%;
    }
}

@media (width < 480px) {
    html {
        font-size: 45%;
    }
}

@media (width < 400px) {
    .heading h1 {
        font-size: 3rem;
    }
}